[submodule "meteor-workspace"]
	path = meteor-workspace
	url = https://github.com/aitoroses/meteor-workspace.git
	branch = master
[submodule "meteor-webkit"]
	path = meteor-webkit
	url = ssh://git@git.foxlab.co/opt/git/node-webkit-iframe.git
