[submodule "meteor-workspace"]
	path = meteor-workspace
	url = ssh://git@git.foxlab.co/opt/git/meteor-workspace.git
	branch = workspace
[submodule "meteor-webkit"]
	path = meteor-webkit
	url = ssh://git@git.foxlab.co/opt/git/node-webkit-iframe.git
